#wrapper {
    width: 960px;
    margin: 0 auto;
}
#header {
	background-color: #CCC; 
	padding: 15px;}

#links {
	float: left;
	width: 220px;
	margin: 0px;
    
}
#main {
	float: left;
	width: 400px;
	
	margin-left: 320px;
    margin-right: 20px;
	 }
	 
#news {
	float: left;
	width: 300px;
	margin-left: -740px;
    margin-top: 0;
	
    
}

#footer {
	clear: left; /* starts the footer below the floated content */
	padding: 15px;
	background: #CCC;}

body {
	font-family: verdana, sans-serif; 
	/* font-size: small; */
	margin: 0;
	padding: 0;}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	margin-top: 1em;
	}